   
  
     <header class="bg-primary text-white">
      <div class="container text-center">
        {{#if user}}<h1>Welcome to  {{user.Name}}</h1>{{/if}} 
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
      </div>
    </header>
<div class="container">
    <div class="row">
     <div class="col-md-12">

    </div>
    </div>

</div>

 